*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    width: 100%;
    /* height: 30vh; */
    justify-content: center;
    margin: 1rem 1rem;
}
.container div h2{
    font-size: 3rem;
}
.container div{
    border: .2rem solid #808080;
    padding: 1rem;
    padding-bottom: 5rem;
    width: 100%;
}
.container div ul{
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}
.container div ul li{
    margin: 1rem;
}
.content{
    margin-right: 1rem;
}
.delete_button{
    border: 0.1rem solid black;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
}
.delete_button:hover{
    transition: all 0.5s;
    background-color: black;
    color: white;
}
.action{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.add_task{
    padding: 1rem;
    border: 0.1rem solid blue;
    color:blue;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: white;
}
.add_task:hover{
    transition: all 0.5s;
    color:white;
    background-color: blue

}
input{
    border: 0.1rem solid black;
    border-radius: 2.5rem;
    padding: 1rem;
    margin-right: 1rem;
}
.box-2 ul{
    height: 100%;
}